body {
  font-family: 'Lato', sans-serif;
  color: #888888;
}


.title-intro {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

.title-intro2 {
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 500;
  color: #6A3BD6;
}

.sectionIntro {
  height: 100vh;
}

.section-contacto {
  text-align: center;
  background-color: #EAEAEA;
  padding-top: 50px;
}

html {
  scroll-behavior: smooth;
}

.card {
  padding-right: 0;
  padding-left: 0;
}

.text-nav {
  padding-top: 15px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #888888;
  font-weight: 500;
}

a:hover {
  color: #6A3BD6;
  text-decoration: none;

}


.presentacion {
  padding-top: 140px;
}

.color-1 {
  color: #ED446E;
}

.btn-correo {
  background-color: #6A3BD6;
  color: #fff;
  padding: 7px;
}

.title-proyectos {
  text-align: center;
  font-size: 25px;
  font-style: bold;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #6A3BD6;
}

.carta {
  padding: 15px;
}

.title-link {
  font-size: 25px;
  font-style: bold;
  
}

.arrow-down {
  color: #6A3BD6;
  font-size: 50px;
  padding-top: 90px;
}

