body {
  font-family: 'Poppins', sans-serif;
  color: #381C75;
}

.navbar-pf {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-presentacion {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-size: 30px;
  line-height: normal;
}

.title-presentacion2 {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
 
  font-size: 100px;
  line-height: normal;
  color: #FF285B;
}

.sub-descripcion {
  color: #7A7979;

}

.sectionIntro {
  height: 100vh;
}

#sectionPresentacion {
  display: block;
}

#sectionProyectos {
  display: block;
}

/*
#sectionSobreMi {
  display: none;
}
*/

#printProyect {
  display: none;
}

.section-contacto {
  text-align: center;
  background-color: #381C75;
  color: #fff;
  padding-top: 50px;
}

html {
  scroll-behavior: smooth;
}

.card {
  padding-right: 0;
  padding-left: 0;
}

.textNavbar {
  color: #381C75;
}

a {
  text-decoration: none;
  color: #7A7979;
}

.textNavbar {
  position: relative;
}

.textNavbar::after {
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #FF285B;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.textNavbar:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}

.presentacion {
  align-items: center;
  justify-content: center;
  padding-top: 140px;
}

.color-1 {
  color: #FF285B;
}

.btn-correo {
  background-color: #FF285B;
  color: #fff;
  padding: 5px;
}

.title-proyectos {
  text-align: center;
  font-size: 50px;
  font-style: bold;
  color: #381C75;
  padding-top: 20px;
  padding-bottom: 30px;
}